body {
  background-color: #0B0F21;
  font-weight: 300;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  color: Black;
  text-align: center;
  font-size: 60px;
  text-decoration: none;
  padding-bottom: 200px
}

center {
  margin-left: auto;
    margin-right: auto;
    width: 8em
}
#landing{
  background-image: url('https://i.studycdn.de/pavE3/CilAmABi19.jpg/raw');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#stundenplan{
  background-image: url('https://i.studycdn.de/pavE3/hiQejoFu55.JPG/raw');
  padding-top: 660px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 100px;
}

#Bookmarks {
  width: 1000px;
}

div{
  height: 100%;
  width: auto
}

#youtube {
  width: 40%;
  height: 40%;
  padding-left: 50px
}
#twitch {
  width: 25%;
  height: 25%;
  padding-left: 50px
}
#netlfix {
  width: 200px;
  height: 200px;

}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 0px;
}
