body {
  background-color: #0B0F21;
  font-weight: 300;
  font-family: 'Orbitron', sans-serif;
  height: 100%;
  width:100%;
}

h1 {
  color: White;
  text-align: center;
  font-size: 60px;
  text-decoration: none;
  padding-bottom: 100px
}

center {
  margin-left: auto;
  margin-right: auto;
  width: 8em
}
#landing{
  background-image: url('https://i.ibb.co/P1078VM/pexels-pok-rie-2049422.jpg');
  background-repeat: no-repeat;
  background-size: 1920px 1080px;


}
#stundenplan {
  padding-top: 660px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 150px;
}

#Bookmarks {
  width: 100vh;
}

.oben {
  float: left;
  width: 1850px;
  text-align: center;
}

.hoverpls:hover{
  transition: 1s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}



#twitch, #netlfix, #Twitter, #wapp {
  margin-left: 50px;
}

#youtube, #Mebis {
  margin-left: 30%;
}

#netlfix, #wapp {
  margin-right: 30%;
}

#imgplan {
  margin-left: 661px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 0px;
}
